body{
    background: linear-gradient(217deg, rgba(212, 0, 255, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(17, 17, 16, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(97, 97, 109, 0.8), rgba(0,0,255,0) 70.71%);
    font-weight: 900;
    color:yellow;
    font-size: large;
}
/* #quiz1{

    border: 2px solid purple;
    width: 1000px
} */

h1{
    display:flex;
    font-weight:800;
    margin-left:40%;
    font-size: x-large;
    text-transform:uppercase;
    text-align:center;
    text-decoration: underline 5px solid black;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    
    width:fit-content;
    justify-content: center;
    align-items: center;
}


button{

    border: 3px solid black;
    height:35px;
    width: 185px;
    justify-content: center;
    align-items: center;
    color:rgb(128, 119, 0);
    font-weight: 900;
    font-size: large;
    margin-left:50%;
}

button:hover{
    background-color: red;
}

#restart{

    border: 3px solid black;
    height:35px;
    width: 185px;
    justify-content: center;
    align-items: center;
    color:rgb(128, 119, 0);
    font-weight: 900;
    font-size: large;
    margin-left:50%;
}

#restart:hover{
    background-color: green;
}



.gradeBox{
    display:flex;
    border:5px dotted rgb(14, 13, 13);
    background-color: rgb(153, 123, 151);
    font-size:bold;
    font-weight: 900;
    justify-content:center;
    text-align: center;
    color:yellow;
    height: 150px;
    width: 250px;
    border-radius: 10%;
    margin-top: -220%;
    margin-left: 75%;
    
}
.atimer{
    margin-left: 50%;
    border: 5px solid black;
    height: 40px;
    width: 55px;
}